<tr>
	<td class="wrapper">
		<p>Hi Administrator</p>
		<p>This is to notify you that you have a pending transaction on your
			dashboard.
		</p>
		<p>Transaction ID: <strong>{{transId}}</strong></p>
		<p>Transaction Type: <strong>{{service}}</strong></p>
		<p>Transaction Amount: <strong>{{amount}}</strong></p>
		<p>Transaction Amount Recieved: <strong>{{amountReceived}}</strong></p>
		<p>Transaction Description:
			<strong>{{description}}</strong></p>
		<p>Transaction Link:
			<a href="{{transUrl}}">Click here to view</a></p>

		<p>Please take the necessary action at your earliest convenience.</p>
	</td>
</tr>